* {
    margin: 0;
    padding: 0;
}

// sass変数
$mainColor: green;

// BEMを使ったスタンダードな書き方。
.titleBox {
    background: $mainColor;
    &__title{
        color: aqua;
    }
    &__about {
        color: brown;
    }
} // titleBox